In [12]:
import pandas as pd
import numpy as np

In [2]:
## creating an empty dataframe

df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
### Creating a dataframe from a list
lst = ["apple","banana","orange","mango"]

df=pd.DataFrame(lst)
print(df)

        0
0   apple
1  banana
2  orange
3   mango

In [9]:
# Note
#    Each item in list becomes row
#    DataFrame consist of single unamed column

In [16]:
data = np.array([[1,2,3],[4,5,6],[7,8,9]])
df=pd.DataFrame(data,columns=['A','B','C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [17]:
## creating a dataframe from a list of Dictionaries
## Here each key in the dictionary becomes a column and the lists are the column values
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
df=pd.DataFrame(dict)
print(df)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [18]:
# Accessing and Modifying the Index

In [21]:
data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
        'Age': [25, 30, 22, 35, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
        'Salary': [50000, 55000, 40000, 70000, 48000]}
df = pd.DataFrame(data)
print(df.index)

RangeIndex(start=0, stop=5, step=1)

In [22]:
#Why indexing is useful?
#uniquely identifies each row
#you can access rows using index labels

In [28]:
age_column = df['Age']
print(age_column)

0    25
1    30
2    22
3    35
4    28
Name: Age, dtype: int64

In [29]:
second_row = df.iloc[2]
print(second_row)

Name        Bob
Age          22
Gender     Male
Salary    40000
Name: 2, dtype: object

In [33]:
multiple_column=df.loc[0:2,['Name','Gender']]
print(multiple_column)

    Name  Gender
0   John    Male
1  Alice  Female
2    Bob    Male

In [36]:
## Accessing row based on condition
gender = df[df['Gender']=='Male']
print(gender)

      Name  Age Gender  Salary
0     John   25   Male   50000
2      Bob   22   Male   40000
4  Charlie   28   Male   48000

In [ ]:
##Accessing specific cell with at
salary_at_index_1=df.atp